# PyCharm IDE files
.idea
*.iml

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

Makefile
Makefile.in
/config.*
/*.pc
/aclocal.m4
/configure
.deps
.libs
